body{
	 background: rgba(159,100,83, 0.6);
}
.navbar{
	background:rgba(159,100,83, 0.6);
	border-radius:5px;
}
.navbar-nav a{
	font-weight:500;
	
}
.navbar-light .navbar-brand{
	text-transform:uppercase;
	letter-spacing:5px;
	font-size:25px;
	color:#D2AE6D;
	
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color:#CB972E;
} 


.navbar-light .navbar-nav .nav-link{
	color:#fff;
}.


.navbar-light .navbar-nav .nav-link:hover{
	color:#CB972E;
}
/* .w-100{
	height:90vh;
} */
.collapse.show {
	background:rgba(0,0,0,0.5);
	
}
.navbar-toggler{
	background:#C8A55F;
	text-align:center;
}
.card{
	background:rgba(159,100,83, 0.3);
	-webkit-box-shadow: 2px 5px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 5px 18px 0px rgba(0,0,0,0.75);
box-shadow: 2px 5px 18px 0px rgba(0,0,0,0.75);
border:2px solid #896825;
	border-radius:5px;
}
 .card-img-top{
	font-size:50px;
	text-align:center;
	color:#6E392E;
}
.card-title{
	text-align:center;
}

.card-text{
	color:#fff;
}
.img-thumbnail{
	border:2px solid #6E392E;
	border-radius:5px;
	
}
.h2{
	color:#373B51;
}

.foot {
	text-align:right;
	font-size:20px;
	color:#6E392E;
	
}
/********footer********/
.box{
	border-top:2px solid #6E392E;
	
border-radius:5px;
background:#B48678;
}
.name{
	
	letter-spacing:5px;
	
	color:#373B51;
	
}
.copyright{
	margin:0px -89px;
}
